<div class="row col-12">
    <div class="col-lg-2 float-right">
        <a href="#">
            <img src="/assets/logo.png" alt="Company Logo" class="img-fluid logo">
          </a>
   <div class="text-end year" > <p>@{{currentYear??'2024'}}</p></div> 
    </div>
    <div class="col-lg-4 text-end">
        <strong>Version </strong>
        <p >1.1.0</p>
    </div>
    <div class="col-lg-4">
        <ul class="list-unstyled text-center mb-0">
            <li><a href="#" class="text-muted"><strong>About</strong> </a></li>
            <li><a href="#" class="text-muted">Contact Us</a></li>
            <li><a href="#" class="text-muted">Privacy</a></li>
            <li><a href="#" class="text-muted">Terms of Use</a></li>
          </ul>
    </div>

</div>