.logo{
    height: 50px;
    text-align: right;
    margin-right:  2rem;
}
.justify-content-between{
    justify-content: space-between;
}
.menu{
    background-color: red;
    box-shadow: 1px 5px 5px #f0ab96;
    //background-color: #6A5ACD;
    .fa{
        color: white;
    }
}