<div class="container-fluid">
    <div class="row align-items-center py-2 menu">
      <div class="col-3 col-lg-2 text-right">
        <a href="#">
          <img src="/assets/logo.png" alt="Company Logo" class="img-fluid logo">
        </a>
      </div>
      <div class="col-7 col-lg-9 row justify-content-end">
       <div class="pr-4">
        <em class="fa fa-bell"></em>
       </div> 
       <div class="pr-4">
        <em class="fa fa-globe"></em>
       </div>
       <div>
        <em class="fa fa-user-circle fa-md"></em>
       </div>
      </div>
    </div>
  </div>
