/* You can add global styles to this file, and also import other style files */
/* styles.css or styles.scss */
@import '~@fortawesome/fontawesome-free/css/all.min.css';









.fn-14{
    font-size: 14px;
}
.fw-400{
    font-weight: 400;
}
.fn-24{
    font-size: 24px;
}
.fn-26{
    font-size: 26px;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}
.text-orange {
    color: red;
}
.float-right{
    float: right;
}
.text-end{
    text-align: end;
}